.App input,
.App button {
  margin: 20px;
  padding: 10px 20px;
  border: 3px solid gray;
  transition: 0.2s;
}

.App button {
  cursor: pointer;
}

.App button:hover {
  background-color: darkgray;
  color: white;
}
